body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
}

header img {
    width: 360px;
    height: 195px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.message-container {
    padding: 40px;
    text-align: center;
}

.message-form {
    max-width: 500px;
    margin: 0 auto;
}

.message-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.message-form input, .message-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
}

.message-form button {
    background-color: #ff7f27;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message-form button:hover {
    background-color: #ffae5d;
}
