* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background-color: #ff7f27;
    padding: 40px;
    border-radius: 15px;
    width: 800px;
}

h1 {
    color: white;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.left-column,
.right-column {
    width: 48%; /* Two equal-width columns */
}

label {
    display: block;
    margin: 15px 0 5px;
    color: white;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

textarea {
    resize: none;
}

.dynamic-input {
    margin-top: 5px;
}

button {
    background-color: black;
    color: #ff7f27;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1em;
    margin-top: 10px;
}

button:hover {
    background-color: #333;
}

.full-width {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

p {
    margin-top: 20px;
    text-align: center;
}

p a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}
